body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f6d8fa;
    margin: 0;
    padding: 20px;
}

h1{
    font-size: 4rem;
    margin: 20px 0;
}

h2{
    font-size: 2rem;
    margin-top: 20px;
    color: rgb(8, 26, 159);
    margin: 0%;
}
#score{
    font-size: 1rem;
    margin: 10px 0;
}
#robot-choice{
    font-size: 1.5rem;
    margin: 10px 0;
}
button{
    flex: auto;
    display: inline-block;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: rgb(238, 217, 246);
    box-shadow: black 2px 1px 6px;
}
button:hover{
    background-color: #efceec;
    padding: 12px 22px;
    box-shadow: black 4px 2px 8px;
}
div#robot-choice{
    padding: 0px auto;
    margin: 0px auto;
    background-color: rosybrown;
    font-size: 1.5rem;
    width: 5rem;
    height: 5rem;
}
