body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color:whitesmoke;
    margin: 0;
    padding: 20px;
}

h1{
    font-size: 4rem;
    margin: 20px 0;
}

#score_title{
    font-size: 2rem;
    margin-top: 20px;
    color: rgb(8, 26, 159);
    margin: 0%;
}
#score{
    font-size: 1rem;
    margin: 10px 0;
}
#robot-choice{
    font-size: 1.5rem;
    margin: 10px 0;
}
button{
    flex: auto;
    display: inline-block;
    font-size: 2rem;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    border: blue 1px solid;
    border-radius: 5px;
    
    box-shadow: black 2px 1px 6px;
}
button:hover{
    background-color: #efceec;
    padding: 12px 22px;
    box-shadow: rgb(194, 193, 193) 2px 1px 4px 1px;
}
div#robot-choice{
    padding: 0px auto;
    margin: 0px auto;
    font-size: 1.5rem;
    width:10rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue 1px solid;
    border-radius: 10px;
    box-shadow: rgb(194, 193, 193) 2px 1px 4px 1px;
}
#choice{
    font-size: larger;
    margin: 0 auto;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Results{
    text-align: center;
    color: rgb(168, 68, 68);
}
span{
    color: rgb(8, 26, 159);
    font-weight: bold;
}